*.o
callgrind.*
.DS_Store
build/*
unit-tests/build/*
database/*
unit-tests/database/*
*.sublime-workspace
*.swp
alpaca.key
.gdb_history
*.vim
unit-tests/out-png-test.png
unit-tests/hello/
